@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Miso;
  src: url("/fonts/miso.woff");
}
@font-face {
  font-family: Nightcore;
  src: url("/fonts/NightcoreDemo.ttf");
}
@font-face {
  font-family: NewShape;
  src: url("/fonts/NewShape-Book.ttf");
}
@font-face {
  font-family: CaptainAmerica;
  src: url("/fonts/AmericanCaptain.otf");
}
/* #registertext:hover{
  text-shadow: 2px 2px 5px grey;
} */